terraform/.terraform.lock.hcl
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_386/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_386/terraform-provider-azurerm_v4.8.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_386/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_386/terraform-provider-random_v3.6.3_x5.exe
